{% extends 'webapp/layout.html' %}
{% block title %}Asosiy sahifa{% endblock %}
{% block body %}

    {# Latest news#}
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">{{ latest_news.title|truncatewords:10|striptags|safe }}</h1>
            <p class="lead my-3">{{ latest_news.full_text|truncatewords:30|striptags|safe }} | {{ latest_news.user_id.first_name }} {{ latest_news.user_id.last_name }}</p>
            <p class="lead mb-0"><a href="{% url 'news-detail' latest_news.post_id %}" class="text-body-emphasis fw-bold">O'qishni davom ettiring</a></p>
        </div>
    </div>

    <div class="row mb-2">
        {# Each card #}
        <div class="col-md-8">
            {% for post in other_posts  %}
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h4 class="mb-0">{{ post.title|truncatewords:5|striptags|safe }}</h4>
                        <small class="mb-1 text-body-secondary">{{ post.created_at|date:"j F Y, G:i" }} | <a href="{% url 'profile' post.user_id_id %}">{{ post.user_id.first_name }} {{ post.user_id.last_name }}</a></small>
                        <p class="card-text mb-auto">{{ post.full_text|truncatewords:50|striptags|safe }} <a style="text-decoration: none" href="{% url 'news-detail' post.post_id %}" class="icon-link gap-1 icon-link-hover stretched-link">Batafsil...</a></p>

                    </div>

                    <div class="col-auto d-none d-lg-block">
                        {% if post.image %}
                            <div class="image-container" style="width: 200px; height: 250px; overflow: hidden;">
                                <img class="bd-placeholder-img" style="width: 100%; height: 100%; object-fit: cover;" src="{{ post.image.url }}" alt="{{ post.title }}">
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {#    Right side   #}
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                {% if user.is_authenticated %}
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">Xush kelibsiz, {{ user.first_name }}!</h4>
                        <p class="mb-0">Yurtimizda, va mahallamizda bo'layotgan so'nggi habarlarni qo'yvorib yubormang.
                        O'qing, izohlar yozing va biz haqimizda boshqalarga ayting.</p>
                    </div>
                {% else %}
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">Salom aziz mehmon!</h4>
                        <p class="mb-0">Yurtimizda, va mahallamizda bo'layotgan so'nggi habarlarni qo'yvorib yubormang.
                        Profil yarating va o'zingiz ham boshqalar bilan yangilik ulasha olasiz.</p>
                    </div>
                {% endif %}
                <div>
                    <h4 class="fst-italic">Oxirgi rasmiy izohlar:</h4>
                    <ul class="list-unstyled">
                        {% for comment in last_five %}
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                               href="{% url 'news-detail' comment.post.post_id %}">
                                <div class="col-lg-12">
                                    <h6 class="mb-0">{{ comment.comment_text }}</h6>
                                    <small class="text-body-secondary">{{ comment.post.title }} - {{ comment.user.first_name }} {{ comment.user.last_name }}</small>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}