{% extends 'webapp/layout.html' %}
{% block title%}Profil haqida{% endblock%}
{% block body%}

{% if user.is_authenticated %}
    {% if profile_view == request.user %}
        <form class="form-signin w-50 m-auto" method="post" enctype="multipart/form-data" action="{% url 'profile' user.user_id %}">
            {% csrf_token %}
            {% if profile_view.profile_pic %}
                <img style="width: 200px; height: 200px" class="img-thumbnail" src="{{ profile_view.profile_pic.url }}" alt="{{ profile_view.first_name }}">
            {% endif %}
            {{ form.as_p }}
            <div style="text-align: right">
                <button class="btn btn-primary" type="submit">Saqlash</button>
            </div>
        </form>

    {% else %}
        <div class="col-lg-8 mx-auto p-4 py-md-5">
            <main>
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-body-emphasis">{{ profile_view.first_name }} {{ profile_view.last_name }}</h1>
                        <h4 class="text-body-emphasis">{{ profile_view.username }}</h4>
                        {% if profile_view.bio %}
                            <p class="fs-7 col-md-8">{{ profile_view.bio }}</p>
                        {% else %}
                            <p class="fs-7 col-md-8">Bio yo'q</p>
                        {% endif %}

                        <div class="mb-5">
                            <p>{{ profile_view.email }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if profile_view.profile_pic %}
                            <img style="width: 200px; height: 200px" class="img-thumbnail" src="{{ profile_view.profile_pic.url }}" alt="{{ profile_view.first_name }}">
                        {% else %}
                            <p class="fs-7 col-md-8">Rasm yo'q</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Yozgan yangiliklari:</h4>
                        {% for post in profile_view.posts.all %}
                            ─ <a href="{% url 'news-detail' post.post_id %}">{{ post.title|truncatewords:4|striptags|safe }}</a><br>
                        {% endfor %}
                    </div>

                    <div class="col-md-6">
                        <h4>Yozgan izohlari:</h4>
                            {% for comment in comments %}
                                <div>
                                    ─ <a href="{% url 'news-detail' comment.post.post_id %}">{{ comment.comment_text|truncatewords:4|striptags|safe }}</a>
                                </div>
                            {% endfor %}
                    </div>
                </div>
            </main>
        </div>
    {% endif %}
{% endif %}
{% endblock%}