{% extends 'webapp/layout.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block body %}

<br><br>
    <form class="form-signin w-50 m-auto" method="POST" action="{% url 'register' %}">
        <h4 style="text-align: center">Profil yaratish</h4>
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInput">Foydalanuvchi nomi</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="exampleInput">Ism</label>
                    {{ form.first_name }}
                </div>
                <div class="col">
                    <label for="exampleInput">Familiya</label>
                    {{ form.last_name }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Parol</label>
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputPassword2">Parolni
                            boshqattan yozing</label>
                        {{ form.password2 }}
                    </div>
                </div>
            </div>
            <small id="emailHelp" class="form-text text-muted">{{ form.password1.help_text | safe }}</small>
        </div>


        <div style="text-align: right">
            <p>Profiliz bormi? <a href="{% url 'login' %}">Profilga o'tish</a></p>

            <button type="submit" class="btn btn-primary">Profil yaratish</button>
        </div>
    </form>
    <br><br>
{% endblock %}

